__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea
saved_activations/
data/broden1_224
data/resnet18_places365.pth.tar
results/
*.zip

imagenette2-320/
imagenet-val/
data/
model_cache/
clip_dissect_demo_data/
clip_dissect_demo_outputs/